<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <!-- mailchimp integration -->
    
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}
    (document,"script","https://chimpstatic.com/mcjs-connected/js/users/bc635b46ee25414d8baf92d05/3309c8f96bc5c75ad3cd4ff5a.js");</script>
    
    <!-- Google Analytics 4 Code (remove if using Universal Analytics) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ABCDE12345"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'G-LG6PBB02Q5');
    </script>
</head>
<body>
